$shadowBox: 4px 4px 4px 0px rgba(0,0,0,0.36);
$borderColor: #464646;

.leaflet-path-draggable,
.leaflet-path-draggable path { cursor: move; }

.leaflet-editing-icon {
  border-radius: 50%;
}

ul.leaflet-draw-actions {
  border: 1px solid $borderColor;
  box-shadow: $shadowBox;
  top: 34px !important;
  left: 0px !important;

  li a {
    width: auto !important;
    background-image: none !important;
    border-radius: 0 !important;
    background-color: lightgrey;
  }
}

.disabled-toolbar-section {
  pointer-events: none;
}

.disabled-toolbar-section > a.disabled-toolbar-action {
  pointer-events: none;
  cursor: not-allowed !important;
}
