* {
  font-family: Roboto, sans-serif;
  color: rgba(0, 0, 0, 0.87);
}

@font-face {
  font-family: 'Roboto';
  src: url('Roboto-Regular-webfont.woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('Roboto-Bold-webfont.woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('Roboto-Light-webfont.woff');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('Roboto-Medium-webfont.woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('Roboto-MediumItalic-webfont.woff');
  font-weight: 300;
  font-style: italic;
}