// $map-controls-width: 30px;
// $map-controls-height: 30px;
// $map-controls-background-size: 22px 22px;

// .leaflet-control-custom {
//     width: $map-controls-width;
//     height: $map-controls-height;
//     background-color: white;
//     background-size: $map-controls-background-size;
//     background-repeat: no-repeat;
//     background-position: center;
// }

.zoom-to-extent-bt {
   background-image: url('../../../../../assets/allarga-foto.png');
}
